$spacer: 2.625rem;
$body-bg: 2px solid #f8f9fa;
$white: #fff;

.page-header{
  padding-top: $spacer;
  .progress{
    margin-top: $spacer;
    margin-bottom: $spacer/2;
  }
  .avatars{
    display: inline-block;
    + .btn-round{
      margin-left: $spacer/4;
    }
  }
  margin-bottom: $spacer;
}

.avatar{
  width: $spacer*1.5;
  height: $spacer*1.5;
  border-radius: 50%;
  border: 2px solid $body-bg;
  background: $body-bg;
  color: $white;
  &.bg-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    i{
      font-size: 1rem;
    }
  }
  &.avatar-lg{
    width: $spacer*2;
    height: $spacer*2;
  }
  &.avatar-sm{
    width: $spacer;
    height: $spacer;
  }
}

.card{
  .avatar{
    border-color: $white;
    background: $white;
  }
}

.avatars{
  padding-left: 0;
  list-style: none;
  margin: 0;
  > li{
    display: inline-block;
    + li{
      margin-left: -$spacer/2;
    }
  }
}

//NAV

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 10px 15px;

  // Disabled state lightens text
  &.disabled {
    color: grey;
    pointer-events: none;
    cursor: default;
  }
}

.nav-tabs {
  border-bottom: 1px solid grey;
  border-radius: 0.5rem;
  background: #e9ecef;

  .nav-item {
    margin-bottom: -1px;
  }

  .nav-link {
    margin: 1em;
    border: 1px solid transparent;

    &.disabled {
      color: grey;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    //color: white;
    background-color: $white;
    border-color: $white;
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -1px;
    // Remove the top rounded corners here since there is a hard edge above the menu
    //@include border-top-radius(0);
  }
}


button{
  &:focus{
    outline: none;
  }
}

.btn-lg{
  font-size: 1.125rem;
  max-height: $spacer*2;
}

.btn-round{
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  padding: 0;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  &.btn-primary{
    background: grey;
    i.material-icons{
      color: #e9ecef;
    }
    &:hover{
      background: darken(grey,10%);
    }
  }
  i.material-icons{
    font-size: 1rem;
    color: $white;
  }
  &:hover{
    background: darken(grey,5%);
  }
  &.btn-lg{
    width: 3rem;
    height: 3rem;
    i.material-icons{
      font-size: 1.5rem;
    }
  }
  &.close{
    padding: 0;
    background: grey;
    opacity: 1;
  }
}

h3 + .btn-round, h5 + .btn-round{
  margin-left: $spacer/2;
}

.btn-options{
  color: white;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn-floating{
  position: fixed;
  z-index: 1 ;
  bottom: $spacer;
  right: $spacer;
  &[aria-expanded="false"]{
    i:last-child{
      display: none;
    }
  }
  &[aria-expanded="true"]{
    i:first-child{
      display: none;
    }
  }
}
