<h2 >Today</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Task</th>
    <th>Project</th>
    <th>Continue</th>
    <th>Spent time</th>
    <th>Time range</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items, let i = index">
    <td>{{item.taskName}}</td>
    <td>{{item.projectName}}</td>
    <td (click)="duplicateItem(i)"> > </td>
    <td>{{item.spentTime}}</td>
    <td>{{item.startDate | date:"hh:mm"}} - {{item.endDate | date:"hh:mm"}}</td>
  </tr>
  </tbody>
</table>
